@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* wrapper całej strony  */

.main_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	font-family: 'Roboto', sans-serif;
	color: white;
}

.solid {
	border: 1px solid yellowgreen;
	margin: 10px 0 10px;
}

.btn:hover {
	background-color: yellowgreen;
	color: black;
}

.your-score {
	margin: 20px 40px 0;
}

/* images wrapper and form */
.images_wrapper_and_form {
	display: flex;
	justify-content: space-around;
	width: 100%;
	/* align-items: center; */
}

.wine {
	/* position: absolute;
	left: 20px; */
	width: 400px;
}
.wine img {
	max-width: 100%;
	max-height: auto;
}

.beer {
	order: 3;
	/* position: absolute;
	right: 20px; */
	width: 400px;
}

.beer img {
	max-width: 100%;
	max-height: auto;
}

/* form with questions */

/* .form {
	order: 2;
} */

.drunk_letters_h1 {
	/* position: relative; */
	margin-top: 50px;
	-webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.drunk_letters_h1 span {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	animation: drunkletters 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes drunkletters {
	0% {
		transform: translateY(0px);
	}

	20% {
		transform: translateY(-20px);
	}

	40%,
	100% {
		transform: translateY(0px);
	}
}

h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 2.5rem;
	color: white;
}

h3 {
	max-width: 500px;
	margin: 10px 0 20px;
	font-size: 1.3rem;
	color: lightgray;
	font-weight: light;
}

div * p {
	margin: 10px 0 10px;
	font-size: 1.2rem;
}

.results_wrapper {
	display: flex;
	flex-direction: row;
	width: 50%;
}

.btn {
	margin: 10px 0 10px;
	padding: 10px 50px;
	font-size: 1.3rem;
	text-transform: uppercase;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}

.your_score {
	font-size: 4rem;
}
